.coffee{
    margin: 80px auto;
    width: 100%;
    text-align: center;
}
.photo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
}
.photo-item{
    text-align: center;
    width: 23%;
}
.photo-item p{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #1b0000;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
/* ----- media query -----*/
@media (max-width: 800px){
    .photo{
        flex-wrap: wrap;
    }
    .photo-item{
        width: 48%;
        margin-bottom: 25px;
    }
}