.menu{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menus img{
    width: 100%;
    border-radius: 15px; 
    display: block;
}
.menus{
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(92,64,51,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1b0000;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}
.menus:hover .caption{
    opacity: 1;
    padding-top: 0;
}
/* ----- media query -----*/

@media (max-width: 650px){
    .menu{
        flex-direction: column;
    }
    .menus{
        flex-basis: 100%;
        margin: 20px;
    }
}
