.testimonials {
    margin: 80px auto;
    padding: 0 8px;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
}
.next-btn, .back-btn {
    position: absolute;
    top: 50%;
    padding: 15px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translateY(-50%);
}
.next-btn {
    right: -40px;
}
.back-btn {
    left: -40px;
}
.slider{
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.slider ul {
    display: flex;
    width: 100%;
    transform: translateX(-100%);
}
.slider ul li {
    list-style: none;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    height: auto;
}
.slide {
    width: 100%;
    height: 50vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 10px;
    color: #1b0000;
    line-height: 1.6;
}
.slide img {
    width: 80px;
    margin-right: 10px;
    border: 4px solid #1b0000;
}
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px;
}
/* ----- mesia query ----- */
@media (max-width: 800px){
    .testimonials{
        padding: 0 40px;
    }
    .next-btn, .back-btn{
        padding: 5px;
        width: 35px;
    }
    .testimonials ul li{
        padding: 10px;
    }
    .slide{
        padding: 5px;
    }
    .slide img{
        width: 40px;
        border: 3px solid #1b0000;
    }
    .next-btn {
        right: -10px;
    }
    .back-btn {
        left: -10px;
    }
    .user-info{
        font-size: 20px;
    }
}